{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "sbsandboxmb_SERVICEBUS": "<Service Bus Connection String Goes Here>"
  }
}